body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}

.nav {
display: flex;
justify-content: space-between;
background-color: violet;
height: 20vh
}

.nav h1 {
    color:darkorchid;
    margin: 0;
    margin-left: 20px;
    align-self: center;    
}

.nav-items li {
    color: darkblue;
    list-style: none;
    display: inline;
    align-self: center;   

}

.nav-items li a {
   text-decoration: none; 
   color: darkblue;
}

.nav-items {
    align-self: center;
    margin-right: 20px;
}

.nav-items li:not(:last-child) {
    margin-right: 10px;
}